{


    // getEnterpriseEvents

    // The limit for the number of items per page
    "limit_event": 2048,

    // The start time in human-readable format for EnterpriseEvents
    // Format: "YYYY-MM-DD HH:MM:SS" (local time, timezone details will be added automatically)
    "start_human": "YYYY-MM-DD HH:MM:SS",

    // The stop time in human-readable format
    // Format: "YYYY-MM-DD HH:MM:SS" (local time, timezone details will be added automatically)
    "stop_human": "YYYY-MM-DD HH:MM:SS",


    // getEdgeFlowVisibilityMetrics
    
    // The limit for the number of items per page for flowMetrics API
    // Note: The demo value shown here (204800) is the maximum empirically found to work in practice. 
    // The VCO may or may not honor your request for this value, and may return fewer items per page depending on system limits or API changes.
    "limit_flow": 204800,


    // EdgeID for the flow API
    "EdgeID": "YOUR_EDGE_ID",

    // The VCO URL
    "VCO": "your-vco-url.example.com",

    // The authorization token
    "AUTHTOKEN": "YOUR_AUTH_TOKEN",

    // The base path for the API
    "basepath": "/portal/rest/",

    // Loglevel for logger python package
    "LOG_LEVEL": "INFO",

    // The enterpriseId for the API
    "enterpriseId": 12345

    // Whether to verify SSL certificates for API requests
    "ssl_verify": true
}
